ul li {
  list-style-type: None;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: darkgrey;  /* Background fallback */

}

.footer {
  position: fixed;
  bottom: 0.5em;
  width: 100%;
}

#main-window {
  height:100vh;
  transition: margin-left .5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 3em 3em 3em;
}

#main-window .main-window-component {
  position:relative;
  max-width: 960px;

}

.content-title {
  position:absolute;
  top:-1.5em;
  left: 0.5em;
  font-weight: bold;
  font-size: 1.5em;
}

#userlist-title {
  position:absolute;
  top:-1.5em;
  left: 2em;
  font-weight: bold;
  font-size: 1.5em;
}

#userlist-btn {
  font-size: 1.5em;
  position:absolute;
  text-align: center;
  top:5em;
  left:-5.5em;
  width: 9em;
  cursor:pointer;
  font-weight: bold;
  background: #f0f0f0;
  border: solid #fff 1px;
  border-radius: 0.25em;
}

#userlist-wrapper{
  position:relative;
  margin: 0;
  padding: 0;
}

#userlist-container {
  position:relative;
  height:80vh;
  margin: 2em;
  overflow-wrap: break-word;
  overflow-y:scroll;
}

#userlist-drawer.active {
  width:60vw;
  border-right: 2px black solid;
}

#userlist-drawer-modal {
  z-index:10;
  position:fixed;
  width:100%;
  height:100%;
  background: #000000;
  visibility: hidden;
  opacity: 0%;
  transition: visibility 0.1s, opacity 0.1s linear;
}

#userlist-drawer-modal.active {
  visibility: visible;
  opacity: 50%;
  transition: visibility 0.5s, opacity 0.5s linear;
}

#messages-window-container {
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  opacity: 0.9;
}

#messages-window {
  height:100%;
  width:100%;
  overflow-y: scroll;
  margin:0;
  padding:1em;
  display: flex;
  flex-direction: column-reverse;
  align-content: flex-end;
  opacity:1;
}

#footer-space {
  height:8vh;
}

#current-username{
  padding: 0.5em;
  padding-right: 0;
}

#current-username-wrapper{
  width:100%;
  background-color: #FFFFFFA0;
  border-radius: 0.5em;
  padding-left:0.5em;
}

#chat-input-container{
  width:100%;
}

.current-user {
  font-style: italic;
  font-weight: bold;
}

#chat-title {
  background-color: #FFFFFF85;
  width:50%;
  padding-left: 0.5em;
  padding-right: 1.5em;
}

/* Userlist sidenav code based on:
 https://www.w3schools.com/howto/howto_js_sidenav.asp */
.sidenav {
  height: 100%;
  width: 0;
  max-width: 500px;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: #b0b0b085;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

.sidenav .closebtn:hover {
  color: #f1f1f1;
}

/* Rotate CSS: https://css-tricks.com/snippets/css/text-rotation/ */
.rotate {
  transform: rotate(-90deg);
  /* Legacy vendor prefixes */
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

 /* Emoji Support from https://github.com/twitter/twemoji */
img.emoji {
   height: 1.8em;
   width: 1.8em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}
